upstream app_server_djangoapp {
  server localhost:8000 fail_timeout=0;
}

# Redirect from domain to www.domain (for example)
server {
    listen   {{nginx_http_port}};
    server_name {{redirect_domain}};
    rewrite ^(.*) http://{{domain_name}}$1 permanent;
}

server {
  listen {{nginx_http_port}};
  server_name {{domain_name}};

  ssl                  off;

  {% include 'nginx.common.j2' %}

  location / {
      {% include 'nginx.proxy.j2' %}
  }
}
