# Env - `source` this file
{% for k, v in app_env_vars.iteritems() %}
export {{ k }}="{{ v }}"
{% endfor %}
{% if newrelic %}NEW_RELIC_CONFIG_FILE="{{newrelic_ini_path}}"{% endif %}
{% if debug%}DEBUG="1"{% endif %}
