# Env - `source` this file
{% for k, v in app_env_vars.iteritems() %}
export {{ k }}="{{v}}"
{% endfor %}
{% for k,v in additional_env_vars.iteritems() %}
export {{ k }}="{{v}}"
{% endfor %}
{% if newrelic %}export NEW_RELIC_CONFIG_FILE="{{newrelic_ini_path}}"{% endif %}
{% if django_debug %}DEBUG="1"{% endif %}
