[program:{{app_name}}]

environment =
  LANG="en_US.utf8"
  LC_ALL="en_US.UTF-8"
  LC_LANG="en_US.UTF-8"
{% for k, v in app_env_vars.iteritems() %}
  {{ k }}="{{v}}",
{% endfor %}
{% for k, v in additional_env_vars.iteritems() %}
  {{ k }}="{{v}}",
{% endfor %}
{% if newrelic %}
  NEW_RELIC_CONFIG_FILE="{{newrelic_ini_path}}",
{% endif %}
{% if django_debug %}
  DEBUG=1
{% endif %}

directory={{app_code_dir}}
user={{app_user}}
autostart=true
autorestart=true
redirect_stderr=True
stdout_logfile={{app_log_dir}}/supervisor.log
